.menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
  .navbar {
    background-color: cadetblue;
    padding: 10px;
  }
  
  .vertical-menu {
    width: 200px;
    background-color: cadetblue;
    padding-top: 20px;
  }
  
  .vertical-menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .vertical-menu a:hover {
    background-color: whitesmoke;
    color: lightslategray;
  }
  
  .vertical-menu a.active {
    background-color: whitesmoke;
    color: lightslategray;
  }
  
  .menu-content {
    display: flex;
  }

  
.main-content {
  flex-grow: 1;
  padding: 20px;
}